// mult.vm
// Implementa a função mult que recebe dois argumentos e retorna a multiplicação

function mult 0
    push constant 0
    pop temp 3

    label COND
    push argument 0
    push constant 0
    eq
    if-goto END

    label LOOP
    push temp 3
    push argument 1
    add
    pop temp 3

    push argument 0
    push constant 1
    sub
    pop argument 0

    goto COND

    label END
    push temp 3
    return
